// Font size variables

$font-h1: 2.7rem;
$font-h2: 2.3rem;
$font-h3: 2rem;
$font-h4: 1.6rem;
$font-h5: 1.4rem;
$font-h6: 1rem;
$font-p: 0.9rem;

//Line height
$line-height-h1: 1;
$line-height-h2: 1.05;
$line-height-h3: 1.1;
$line-height-h4: 1.15;
$line-height-h5: 1.3;
$line-height-h6: 1.4;

//Font weight
$font-300: 300;
$font-300i: 300i;
$font-400: 400;
$font-400i: 400i;
$font-500: 500;
$font-500i: 500i;
$font-600: 600;
$font-600i: 600i;
$font-700: 700;
$font-700i: 700i;




//Button font
$btn-font: 1rem;

//alert font
$alert-font: 1rem;

//card font
$card-font: 1rem;

//drop font
$drop-font: 1rem;
